
/wp-content/*
!/wp-content/object-cache.php
/wp-content/mu-plugins/*
!/wp-content/mu-plugins
!/wp-content/mu-plugins/loader.php
/vendor/
/wp/
.DS_Store
node_modules

wp-content/themes/*
!wp-content/themes
!wp-content/themes/helsingborg
wp-content/themes/helsingborg/node_modules